@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

:root {
    background-color: #F5F5F5;
    scrollbar-gutter: auto;
}

.btn-primary, .btn-secondary {
    @apply text-base-100;
}

.font-bold {
    font-weight: 500;
}

.text-overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkbox-secondary {
    --chkfg: #F5F5F5;
}

@media (hover: hover) and (pointer: fine) {
    :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
        @apply overflow-hidden;
        scrollbar-gutter: auto;
        padding-right: 15px;
    }
}

@media (hover: none) and (pointer: coarse) {
    :root:has(:is(.modal-open, .modal:target, .modal-toggle:checked + .modal, .modal[open])) {
        @apply overflow-hidden;
        scrollbar-gutter: auto;
    }
}

